%table
  %tr
    %th
    %th Name
    %th Action
  - @tasks.each do |task|
    %tr
      %td= '✓' if task.completed?
      %td= task.name
      %td
        = button_tag 'Update', class: 'js-task-button', data: {task_id: task.id.to_s}
        = button_to 'Delete', task_path(task), method: :delete

= form_for @task do |f|
  = f.text_field :name
  = f.submit

