%table
  %tr
    %th Task
    %th Action
  - @incomplete_tasks.each do |task|
    %tr
      %td= task.name
      %td
        = button_tag 'Done!', class: 'js-task-button', data: {task_id: task.id.to_s}
        = button_to 'Remove', task_path(task), method: :delete

= form_for @task do |f|
  = f.text_field :name
  = f.submit

%table
  %tr
    %th
    %th Task
    %th Action
  - 10.times do |i|
    - task = @complete_tasks[i]
    - next if task.nil?
    %tr
      %td= '✓'
      %td= task.name
      %td
        = button_tag 'Not Done', class: 'js-task-button', data: {task_id: task.id.to_s}
